<div class="body">
    <div class="content-center">
        <h3>Ingeniero de sistemas</h3>
        <h1>Andres Gonzalez</h1>
        <h4>Ingeniero de Sistemas con Especializqacion en software</h4>
    </div>
    
    <h2>Proyectos</h2>

    <div class="cards-content">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_1280.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Enviar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"  src="https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_1280.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Enviar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_1280.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary center">Enviar</a>
            </div>
        </div>
    </div>

    <h2>Trabajos desempeñados</h2>

    <div class="cards-content">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
                <a href="#">leer más</a>
            </div>
        </div>
    </div>


</div>
